@import "tailwindcss";


@theme {
  --color-background: #F2E5D7;
  --color-text: #262322;
  --color-border: #3B413C;
  --color-primary: #63372C;
  --color-secondary: #C97D60;
}

@layer base {
  html {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
}